.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
  .d-none{
      display:none !important;
  }

  td{
    line-height: 2.4;
  }

  .custom-file-upload {
    display: inline-block;
    margin-left: 25px;
    color: lightgray;
}

  #image[type="file"] {
    display: none;
  }

  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 20%;
    padding: 10px;
    margin-top: auto;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
    border: 1px solid darkgray;
  }
  
  .column img:hover {
    opacity: 1;
  }

  .c-sidebar{
    width: 15% !important;
  }

  .c-wrapper{
    margin-left: 195px !important;
  }

  .c-sidebar-nav-item{
    font-size: 12px !important;
  }


  .c-sidebar-nav-item a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .col-12 h1{
    font-size: 36px !important;
    font-weight: 300;
  }

  .fade-in .row .card{
    background-color:#f6f6f6 !important;
    padding: 0 !important;
  }

  .fade-in .row .card .col-12{
    padding: 10px 0 !important;
  }

  .dataTables_paginate a,.dataTables_info,.dataTables_length,.dataTables_filter label{
    padding: 4px 8px !important;
    font-size: 12px;
  }

  .dataTables_filter label input{
    width: 50%;
    padding: 4px 8px !important;
  }

  td{
    font-size: 12px !important;
    /* padding-bottom: 0 !important; */
    /* padding-top: 0 !important; */
    vertical-align:middle !important;
  }

  tbody .d-flex button{
    font-size: 12px;
  }

  .headeing-content{
    background: rgb(219, 217, 217);
    padding: 14px 20px !important;
  }

  .headeing-content h5{
    font-size: 16px !important;
    font-weight: 100;
    color: black;
  }

  .profile input{
    /* padding: 4px 10px !important; */
    background: rgb(238, 238, 238);
  }

  .photo{
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
  }

  .upload{
    position: absolute;
    width: 100%;
  }

  form label{
    margin-top: 10px;
    font-size: 14px;
  }

  .ck-editor{
    width: 100% !important;
  }
  
  .ck-content{
    height: 200px !important;
  }